body{
  width: 100%;
  background-color: #19181b;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
header{
  width: 90%;
  margin: 0 auto;
}
.name{
  display: inline-block;
  margin-top: 24px;
  margin-left: 4%;
}
.menuBar{
  display: inline-block;
  float: right;
  margin-right: 10%;
}
.hamburger{
  display: inline-block;
  float: right;
  margin-top: 24px;
  padding: 15px 10px;
}
h5{
  display: inline-block;
  margin-top: 24px;
  padding: 20px 10px;
}
.line{
  border-bottom: 3px solid #ffffff;
  width: 25px;
  margin-bottom: 6px;
}
.smallText{
  font-size: 9px;
  font-weight:lighter;
  color: rgb(78,77,80);
}
h2{
  /*border: 1px solid green;*/
  width: 500px;
  margin: 30px auto;
  padding: 0px 100px;
  text-align: center;
}
.content{
  /*border: 1px solid blue;*/
  margin-top: 150px;
}
.assignments{
  /*border: 1px solid yellow;*/
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.colorBox{
  display: inline-block;
  width: 250px;
  height: 280px;
  border: 1px solid white;
  margin: 10px 47px;
}
.one{
  background-image: url("http://theisbothmann.com/thumbs/manna_3.0-5532-2a2233ecee6dfdb734f02f763ebca419.jpg");
}
.one:hover{
  background-color:#000;
  opacity:0.7;
}
.two{
  background-image: url("http://theisbothmann.com/thumbs/dak_nyhedsbrev_efteraar_2016_7831-8c39aee14c7513959ca59881e6b412b3.jpg");
}
.two:hover{
  background-color:#000;
  opacity:0.7;
}
.three{
  background-image: url("http://theisbothmann.com/thumbs/manna_6.0-6974-1-c9c241d630c8f8778fb281fbf4112995.jpg");
}
.three:hover{
  background-color:#000;
  opacity:0.7;
}
.four{
  /*background-color: green;*/
}
.five{
  /*background-color: green;*/
}
.six{
  /*background-color: green;*/
}
.seven{
  /*background-color: green;*/
}
.eight{
  /*background-color: green;*/
}
footer{
  background-color: grey;
  width: 100%;
  height: 200px;
}
